.container {
  background: rgba(255, 255, 255, 0.69);
  position: relative;
  overflow: hidden;
  height: auto;

  @media screen and (max-width: 480px) {
    height: 120vh;
  }

  .loanBanner {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 5% 1rem 14%;

    .loanTexts {
      width: 50%;
      height: 50%;
      z-index: 1;
      min-height: 20%;


      @media only screen and (max-width : 1358px) {
        width: 40rem;
      }

      @media only screen and (max-width : 600px) {
        position: absolute;
        left: 1rem;
        top: 10%;
        width: 18rem;
      }

      .header {
        color: #454545;
        font-family: "Poppins";
        font-weight: 300;
        font-size: 3vmax;

        @media only screen and (max-width : 600px) {
          font-size: 2.8vmax;
        }

        .headerHighlight {
          color: #4885e0;
          font-weight: 600;
        }
      }

      .subHeader {
        background-color: #f6a974;
        color: white;
        font-size: 1.3vmax;
        line-height: 1.875vmax;
        font-weight: 500;
        width: fit-content;
        padding: 6px 0.8rem;
        border-radius: 4px;

        @media only screen and (max-width : 600px) {
          font-size: 1.7vmax;
        }

      }

      .timeLine {
        font-weight: 500;
        font-size: 1vmax;
        color: #000000;
        line-height: 1.875rem;
        margin-top: 0.5rem;

        @media only screen and (max-width:900px) {
          font-size: 1.8vmax;
        }
      }
    }

    .banner_image {

      @media only screen and (max-width : 600px) {
        width: 60%;
      }

      @media only screen and (max-width : 480px) {
        width: 80%;
        position: absolute;
        right: -7rem;
      }

      .man_image {
        width: 100%;
        height: auto;
      }
    }
  }

  .loanFormContainer {
    position: relative;
    max-width: 80rem;
    min-height: 11rem;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    bottom: 17rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: -12rem;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);

    @media only screen and (max-width: 1380px) {
      bottom: 7vh;
      margin-bottom: 0;
    }

    @media only screen and (max-width : 481px) {
      position: absolute;
      bottom: 5%;
      width: 100%;
    }


    .header {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      margin-left: 1.5rem;

      @media only screen and (max-width: 902px) {
        text-align: center;
      }
    }

    .loanForm {
      padding: 1rem 0rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5rem, 18rem));
      grid-gap: 1rem;
      width: 100%;
      grid-gap: 1rem;
      justify-content: center;

      @media only screen and (max-width:600px) {
        grid-template-columns: 100%;
      }

      .inp_box_heading {
        color: #858585;
        font-size: 0.8rem;
        position: absolute;
        margin-top: -0.6rem;
        margin-left: 0.8rem;
        background-color: white;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        z-index: 1;
      }

      .inp {
        border: 1px solid #c5d4e3;
        border-radius: 10px;
        font-weight: 400;
        padding: 10px 15px;
        width: 18.2rem;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }

      .error {
        color: red;
        padding: 0.2rem;
        font-size: 0.875rem;
      }
    }

    .note_container {
      display: flex;
      gap: 1rem;
      margin-inline: 1.5rem;
      border: 1px solid #cddffb;
      background: #f3f7ff;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border-radius: 0.875rem;

      .note {
        font-family: "Open Sans";
        font-size: 1rem;
        line-height: 1.5rem;
        color: #545454;

        .note_title {
          font-weight: 600;
          color: #1e54b0;
        }
      }
    }

    .submitBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 9rem;
      height: 3rem;
      position: relative;
      left: 50%;
      transform: translate(-50%, 80%);
      background: #32996a;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
      color: white;
      margin-top: -2rem;

      @media only screen and (max-width: 1197px) {
        bottom: -21%;
        padding: 0 6rem;
      }

      @media only screen and (max-width: 600px) {
        bottom: -14%;
        padding: 0 6rem;
      }
    }
  }
}