.main {
    display: flex;
    justify-content: center;
    align-items: center;

    .card_container {
        // width: auto;
        // display: flex;
        // gap: 1.5rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 14rem));
        grid-gap: 1rem;
        margin-top: 0;
        justify-content: center;

        .card {
            width: 14rem;
            height: 15rem;
            border-radius: 0rem 1.5rem;
            background-color: #F4FAFE;
            overflow: hidden;

            .details {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0.5rem;

                .card_number {
                    background-color: #FFFFFF;
                    // background-color: blue;
                    color: #174E7F;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                }

                .card_description {
                    font-family: sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 26px;
                    text-align: center;
                }

            }

            .image_container {
                position: absolute;
                // top: 15.1rem;
                top: 89%;
            }
        }
    }
}